parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Repository\\\\OtpRecordRepository\\:\\:getAccountHashes\\(\\) should return array\\<App\\\\Entity\\\\OtpRecord\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/OtpRecordRepository.php

		-
			message: "#^Method App\\\\Repository\\\\OtpRecordRepository\\:\\:getAll\\(\\) should return array\\<App\\\\Entity\\\\OtpRecord\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/OtpRecordRepository.php

		-
			message: "#^Method App\\\\ValueObject\\\\ApiResponse\\\\VersionOneBase\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ValueObject/ApiResponse/VersionOneBase.php
